<div class="component">
  <div id="dice-list">
    <div
      [ngClass]="die.selected ? 'selected die' : 'die'"
      (click)="toggleSelect(die.id)"
      *ngFor="let die of dice"
    >
      <ng-template [ngIf]="die.resource">
        <img [src]="die.resource.imageRoute" [alt]="die.resource.name" />
      </ng-template>
    </div>
  </div>
  <br />
  <div id="toolbox" *ngIf="rolls > 0; else elseblock">
    <button id="roll" (click)="rollDice()">Roll!</button>
    <ng-template [ngIf]="rolls < 3">
      <button id="build" (click)="endRolling()">Start Building!</button>
      <p>Rolls Left: {{ rolls }}</p>
    </ng-template>
  </div>
  <ng-template #elseblock>
    <button id="passTurn" (click)="endTurn()">End Turn</button>
  </ng-template>
</div>
