.component {
  display: flex;
  background: grey;
}
#dice-list {
  display: flex;
}
.die {
  width: 100px;
}
.selected {
  background: red;
}
#toolbox {
  display: flex;
  justify-content: space-around;
}
