.cost-card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.cost-box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  border-bottom: 1px solid black;
  padding: 5px;
}

.name,
.resource-icon {
  height: calc(var(--icon-size));
  width: calc(var(--icon-size));
  margin: 0 3px;
}

.name {
  background: black;
}

.road {
  left: 25px;
  top: 1px;
  transform: rotate(45deg);

  height: calc(var(--road-height) / 1.5);
  width: calc(var(--road-width) / 1.5);
}

.soldier {
  top: 22px;
  left: 21px;

  width: calc(var(--soldier-width) / 1.5);
  height: calc(var(--soldier-height) / 1.425);
  border-radius: calc(var(--soldier-width) / 1.5) / var(--soldier-width);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.soldier:before {
  top: calc(var(--soldier-height) / -3.75);
  width: calc(var(--soldier-width) / 1.5);
  height: calc(var(--soldier-width) / 1.5);
}

.settlement {
  left: 22px;
  top: 12px;

  height: var(--settlement-square);
  width: var(--settlement-square);
}
.settlement:before {
  border-bottom: calc(var(--settlement-square) / 2.25) solid white;
  border-left: calc(var(--settlement-square) / 2.25) solid transparent;
  border-right: calc(var(--settlement-square) / 2.25) solid transparent;
  left: calc(var(--settlement-square) / -9.75);
  top: calc(var(--settlement-square) / -2.55);
}

.city {
  left: 5px;
  top: 18px;

  height: calc(var(--city-height) / 1.5);
  width: calc(var(--city-width) / 1.5);
  margin-top: calc(var(--city-height) / 3);
}
.city:before {
  border-bottom: calc(var(--city-height) / 1.875) solid white;
  border-left: calc(var(--city-height) / 1.875) solid transparent;
  border-right: calc(var(--city-height) / 1.875) solid transparent;
  left: calc(var(--city-height) / 2.1);
  top: calc(var(--city-height) / -1.605);
}
.city:after {
  height: calc(var(--city-height) / 9);
  width: calc(var(--city-height) / 1.5);
  bottom: calc(var(--city-height) / 1.5);
  left: calc(var(--city-width) / 3);
}
