.dice-box {
  display: flex;
  background: rgb(228, 228, 228);
}

.dice-list {
  display: flex;
}

.die {
  width: 75px;
  height: 75px;
  margin: 5px;
  padding: 5px;
}

#gold-icon {
  background-color: var(--gold-color);
}

.selected {
  background: red;
}

.toolbox {
  display: flex;
  justify-content: space-around;
}
