#island-map {
  width: var(--map-width);
  height: var(--map-height);
  background: url("../assets/island-map.png") lightgreen;
  background-size: cover;
  overflow: hidden;

  --hover-color: lightblue;
  --built-color: var(--player-color);
  --map-resource: 85px;
}

/* .hexagon {
  width: 100px;
  height: 55px;
  background: green;
  position: relative;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid green;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid green;
} */

.road:hover,
.settlement:hover,
.city:hover,
.soldier:hover {
  background-color: var(--hover-color);
}

.building-text {
  margin: auto;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.start .building-text,
.road .building-text {
  top: 40%;
}

.settlement:hover:before {
  border-bottom-color: var(--hover-color);
}
.settlement .building-text {
  top: 20%;
}

.city:hover:before {
  border-bottom-color: var(--hover-color);
}
.city:hover:after {
  background: var(--hover-color);
}
.city .building-text {
  top: 25%;
}

.soldier:hover,
.soldier:hover:before {
  background: var(--hover-color);
}
.soldier .building-text {
  top: 25%;
}

.resource {
  display: block;
  position: relative;
  width: var(--map-resource);
  height: var(--map-resource);
  border-radius: 50%;
  border: 5px solid white;
}

.built {
  background: var(--built-color) !important;
  color: white !important;
}
.built:hover,
.built:after,
.built:hover:after {
  background: var(--built-color) !important;
}

.built:before,
.built:hover:before {
  border-bottom-color: var(--built-color) !important;
}

.built.soldier:before,
.built.soldier:hover:before {
  background-color: var(--built-color) !important;
}
