/* STARTING ROAD */
#building-0 {
  background: black;
  color: white;
  transform: rotate(-30deg);
  top: 18.6%;
  left: 32.4%;
}

#building-1 {
  top: 19.2%;
  left: 36.9%;
}

#building-2 {
  transform: rotate(30deg);
  top: 21.5%;
  left: 32.2%;
}

#building-3 {
  transform: rotate(-90deg);
  top: 18.75%;
  left: 19.2%;
}

#building-4 {
  top: 10.375%;
  left: 4.9333%;
}

#building-5 {
  transform: rotate(-30deg);
  top: 10.75%;
  left: 32%;
}

#building-6 {
  top: 12.125%;
  left: 36.533%;
}

#building-7 {
  transform: rotate(30deg);
  top: 14%;
  left: 31.6%;
}

#building-8 {
  transform: rotate(-90deg);
  top: 10.75%;
  left: 18.4%;
}

#building-9 {
  top: 2.625%;
  left: 4.133%;
}

#building-10 {
  transform: rotate(-30deg);
  top: 2.375%;
  left: 31.6%;
}

#building-11 {
  top: 3.875%;
  left: 37.2%;
}

#building-12 {
  transform: rotate(-90deg);
  top: -3.375%;
  left: 48%;
}

#building-13 {
  transform: rotate(30deg);
  top: -19.375%;
  left: 60.933%;
}

#building-14 {
  top: -36.375%;
  left: 66.533%;
}

#building-15 {
  transform: rotate(-30deg);
  top: -53.125%;
  left: 61.2%;
}

#building-16 {
  transform: rotate(30deg);
  top: -76.125%;
  left: 60.533%;
}

#building-17 {
  top: -92.625%;
  left: 65.33%;
}

#building-18 {
  transform: rotate(-30deg);
  top: -109.5%;
  left: 61.067%;
}

#building-19 {
  transform: rotate(30deg);
  top: -132.25%;
  left: 61.6%;
}

#building-20 {
  top: -148.75%;
  left: 66.267%;
}

#building-21 {
  transform: rotate(-90deg);
  top: -93.25%;
  left: 77.733%;
}

#building-22 {
  transform: rotate(30deg);
  top: -109%;
  left: 89.467%;
}

#building-23 {
  top: -125.625%;
  left: 91.2%;
}

#building-24 {
  transform: rotate(-30deg);
  top: -142.375%;
  left: 89.467%;
}

#building-25 {
  transform: rotate(30deg);
  top: -165.25%;
  left: 89.467%;
}

#building-26 {
  top: -181.625%;
  left: 91.067%;
}

#building-27 {
  top: -195.125%;
  left: 19.067%;
}

#building-28 {
  top: -170%;
  left: 18.667%;
}

#building-29 {
  top: -159.25%;
  left: 46.93%;
}

#building-30 {
  top: -180.875%;
  left: 76.2667%;
}

#building-31 {
  top: -217.625%;
  left: 75.867%;
}

#building-32 {
  top: -239.5%;
  left: 46.8%;
}

#wood-circle {
  top: -193.125%;
  left: 71.867%;
}

#brick-circle {
  top: -236%;
  left: 71.867%;
}

#wool-circle {
  top: -201.125%;
  left: 42.5%;
}

#wheat-circle {
  top: -229.75%;
  left: 14.533%;
}

#ore-circle {
  top: -272.375%;
  left: 14.533%;
}

#gold-circle {
  background-color: var(--gold-color);
  top: -299.5%;
  left: 42.5%;
}
