/* STARTING ROAD */
#building-0 {
  background: black;
  color: white;
  transform: rotate(-30deg);
  left: 243px;
  top: 149px;
}

#building-1 {
  left: 277px;
  top: 155px;
}

#building-2 {
  transform: rotate(30deg);
  left: 242px;
  top: 170px;
}

#building-3 {
  transform: rotate(-90deg);
  left: 143px;
  top: 148px;
}

#building-4 {
  top: 83px;
  left: 37px;
}

#building-5 {
  transform: rotate(-30deg);
  left: 239px;
  top: 78px;
}

#building-6 {
  left: 273px;
  top: 90px;
}

#building-7 {
  transform: rotate(30deg);
  left: 237px;
  top: 103px;
}

#building-8 {
  transform: rotate(-90deg);

  left: 137px;

  top: 78px;
}

#building-9 {
  left: 29px;

  top: 10px;
}

#building-10 {
  transform: rotate(-30deg);
  left: 236px;
  top: 6px;
}

#building-11 {
  left: 279px;
  top: 18px;
}

#building-12 {
  transform: rotate(-90deg);
  left: 359px;
  top: -42px;
}

#building-13 {
  transform: rotate(30deg);
  left: 457px;
  top: -171px;
}

#building-14 {
  left: 498px;
  top: -306px;
}

#building-15 {
  transform: rotate(-30deg);
  left: 457px;
  top: -443px;
}

#building-16 {
  transform: rotate(30deg);
  left: 454px;
  top: -626px;
}

#building-17 {
  left: 489px;
  top: -758px;
}

#building-18 {
  transform: rotate(-30deg);
  left: 458px;
  top: -895px;
}

#building-19 {
  transform: rotate(30deg);
  left: 461px;
  top: -1077px;
}

#building-20 {
  left: 496px;
  top: -1208px;
}

#building-21 {
  transform: rotate(-90deg);
  left: 580px;
  top: -766px;
}

#building-22 {
  transform: rotate(30deg);
  left: 668px;
  top: -894px;
}

#building-23 {
  left: 684px;
  top: -1028px;
}

#building-24 {
  transform: rotate(-30deg);
  left: 670px;
  top: -1164px;
}

#building-25 {
  transform: rotate(30deg);
  left: 668px;
  top: -1347px;
}

#building-26 {
  left: 683px;
  top: -1480px;
}

#building-27 {
  top: -1589px;
  left: 144px;
}

#building-28 {
  left: 141px;
  top: -1388px;
}

#building-29 {
  left: 352px;
  top: -1302px;
}

#building-30 {
  left: 571px;
  top: -1467px;
}

#building-31 {
  top: -1762px;
  left: 568px;
}

#building-32 {
  top: -1937px;
  left: 359px;
}

#wood-circle {
  left: 539px;
  top: -1561px;
}

#brick-circle {
  left: 441px;
  top: -1812px;
}

#wool-circle {
  left: 130px;
  top: -1440px;
}

#wheat-circle {
  left: -177px;
  top: -1571px;
}

#ore-circle {
  left: -270px;
  top: -1817px;
}

#gold-circle {
  background-color: var(--gold-color);
  left: -149px;
  top: -1942px;
}
