header {
  background: lightgreen;
}

header h2 {
  margin: 0;
  padding: 20px;
  font-size: 30px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
