<div id="island-map">
  <div
    *ngFor="let building of buildingList"
    [ngClass]="building.built ? building.type + ' built' : building.type"
    [attr.id]="'building-' + building.id"
    (click)="build(building.id)"
  >
    <ng-template *ngIf="building.pointValue; then thenblock; else elseblock">
    </ng-template>
    <ng-template #thenblock>
      <div class="building-text">
        {{ building.pointValue }}
      </div>
    </ng-template>
    <ng-template #elseblock>
      <div class="building-text">
        &darr;
      </div>
    </ng-template>
  </div>
  <img
    class="resource"
    id="ore-circle"
    src="../../../assets/ore.png"
    alt="Ore"
  />
</div>
