/* STARTING ROAD */
#building-0 {
  background: black;
  transform: rotate(-45deg);
}

#building-1 {
}

#building-2 {
  transform: rotate(45deg);
}

#building-3 {
  transform: rotate(-90deg);
}

#building-4 {
}

#building-5 {
  transform: rotate(-45deg);
}

#building-6 {
}

#building-7 {
  transform: rotate(45deg);
}

#building-8 {
  transform: rotate(-90deg);
}

#building-9 {
}

#building-10 {
  transform: rotate(-45deg);
}

#building-11 {
}

#building-12 {
  transform: rotate(-90deg);
}

#building-13 {
  transform: rotate(45deg);
}

#building-14 {
}

#building-15 {
  transform: rotate(-45deg);
}

#building-16 {
  transform: rotate(45deg);
}

#building-17 {
}

#building-18 {
  transform: rotate(-45deg);
}

#building-19 {
  transform: rotate(45deg);
}

#building-20 {
}

#building-21 {
  transform: rotate(-90deg);
}

#building-22 {
  transform: rotate(45deg);
}

#building-23 {
}

#building-24 {
  transform: rotate(-45deg);
}

#building-25 {
  transform: rotate(45deg);
}

#building-26 {
}

#building-27 {
}

#building-28 {
}

#building-29 {
}

#building-30 {
}

#building-31 {
}

#building-32 {
}
