<div class="player">
  <app-header
    [rounds]="rounds"
    [resourceList]="resourceList"
    [buildingCosts]="buildingCosts"
  >
  </app-header>

  <app-island-map
    [resourceList]="resourceList"
    [currentResources]="currentResources"
    (scoreBuilding)="scoreBuilding($event)"
  >
  </app-island-map>

  <app-dice-box
    [resourceList]="resourceList"
    (rollEvent)="gatherResources($event)"
    (resetResources)="resetResources()"
    (finishTurn)="endRound()"
  >
  </app-dice-box>
</div>
