:root {
  --gold-color: rgb(175, 141, 39);

  --map-height: 800px;
  --map-width: calc(var(--map-height) * 0.93869047619);

  --road-width: 25px;
  --road-height: calc(var(--road-width) * 3);

  --settlement-square: 30px;

  --city-height: var(--settlement-square);
  --city-width: calc(var(--city-height) * 2);

  --soldier-width: var(--settlement-square);
  --soldier-height: calc(var(--soldier-width) * 1.5);

  --icon-size: 75px;
}

.resource-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 20%;
}

.start,
.road,
.settlement,
.city,
.soldier {
  background: white;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.start,
.road {
  height: var(--road-height);
  width: var(--road-width);
}

.settlement {
  display: inline-block;
  height: var(--settlement-square);
  width: var(--settlement-square);
  margin-top: calc(var(--settlement-square) / 2);
}
.settlement:before {
  border-bottom: calc(var(--settlement-square) / 1.5) solid white;
  border-left: calc(var(--settlement-square) / 1.5) solid transparent;
  border-right: calc(var(--settlement-square) / 1.5) solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: calc(var(--settlement-square) / -6.5);
  top: calc(var(--settlement-square) / -1.7);
}

.city {
  display: inline-block;
  height: var(--city-height);
  width: var(--city-width);
  margin-top: calc(var(--city-height) / 2);
}
.city:before {
  content: "";
  height: 0;
  width: 0;
  border-bottom: calc(var(--city-height) / 1.25) solid white;
  border-left: calc(var(--city-height) / 1.25) solid transparent;
  border-right: calc(var(--city-height) / 1.25) solid transparent;
  position: absolute;
  left: calc(var(--city-height) / 1.4);
  top: calc(var(--city-height) / -1.07);
}
.city:after {
  content: "";
  height: calc(var(--city-height) / 6);
  width: var(--city-height);
  position: absolute;
  bottom: calc(var(--city-height));
  left: calc(var(--city-width) / 2);
  background: white;
}

.soldier {
  z-index: 10;
  width: var(--soldier-width);
  height: var(--soldier-height);
  border-radius: calc(var(--soldier-width) / 2) / var(--soldier-width);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.soldier:before {
  content: "";
  position: absolute;
  top: calc(var(--soldier-height) / -2.5);
  left: 0;
  width: var(--soldier-width);
  height: var(--soldier-width);
  background: white;
  border-radius: 50%;
}
